<h1>Listing weathers</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>High</th>
      <th>Low</th>
      <th>Condition</th>
      <th>Wind speed</th>
      <th>Loc name</th>
      <th>Sunrise</th>
      <th>Sunset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.location %></td>
        <td><%= weather.high %></td>
        <td><%= weather.low %></td>
        <td><%= weather.condition %></td>
        <td><%= weather.wind_speed %></td>
        <td><%= weather.loc_name %></td>
        <td><%= weather.sunrise %></td>
        <td><%= weather.sunset %></td>
        <td><%= link_to 'Show', weather %></td>
        <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
        <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather', new_weather_path %>
