<footer>
	<div class="Centered">
    	<strong>Related Links</strong>
    </div>
    <table>
		<tr> 
			<td>
				<%= link_to "Publication", "/publications.html" , :relative => true%>  
			</td>
			<td>   |   </td>
			<td>
				<%= link_to "People", "/people.html" , :relative => true%>  
			</td>
			<td>   |   </td>
			<td>	
				<%= link_to "Teaching",  "/teaching.html" , :relative => true%>  
			</td>
			<td>   |   </td>
			<td>
				<%= link_to "Pictures", "/pictures.html" , :relative => true%>  
			</td>
		</tr>
    </table>
</footer>
