<div class="Centered">
	<img src="images/jwdavis-dispatch.jpg" width="550" ALT="Jim Davis">
	<br>
	<div class="ImageText">Photo by Tom Dodge, Columbus Dispatch, 2009</div> 
</div>

<br>
<h1>*** PLEASE NOTE THAT PROF. DAVIS WILL BE AWAY ON SABBATICAL FOR THE 2015-2016 ACADEMIC YEAR ***</h1>

<address>
<br>
<a href="http://www.cse.ohio-state.edu">Dept. of Computer Science and Engineering</a>
<br>
491 Dreese Laboratories, 2015 Neil Avenue> <br>
<A HREF="http://www.osu.edu">Ohio State University</A> <br>
Columbus, OH 43210 <br>
Office: 614-292-1553 (Lab: 614-292-5137) <br>
Fax: 614-292-2911 <br>
<A HREF="javascript:window.location='mailto:jwdavis' + '@' + 'cse.ohio-state.edu'">jwdavis AT cse.ohio-state.edu</A> <br>
http://www.cse.ohio-state.edu/~jwdavis <br>
[<a href="http://web.cse.ohio-state.edu/~jwdavis/directions.html">Directions</a>]
</address>
<br>
<br>

<h2>Appointments</h2>
<div style="margin: 6px 3em 25px">
			<ul>
				<LI>2013 - present: Full Professor, <A HREF="http://www.cse.ohio-state.edu/">
							Dept. of Computer Science and Engineering</A>, OSU</LI>
				<LI>2005 - 2013: Associate Professor, <A HREF="http://www.cse.ohio-state.edu/">
							Dept. of Computer Science and Engineering</A>, OSU</LI>
				<LI>2000 - 2005: Assistant Professor, <A HREF="http://www.cse.ohio-state.edu/">
							Dept. of Computer Science and Engineering</A>, OSU</LI>
				<LI>2004 - present: Faculty Member, <A HREF="http://ergonomics.osu.edu">
							Institute for Ergonomics</a>, OSU</LI>
				<LI>2000 - present: Faculty Member, <A HREF="https://cog.osu.edu/">
							Center for Cognitive Science</a>, OSU</LI>
				<LI>2000 - present: Affiliated Faculty, <A HREF="http://www.accad.ohio-state.edu/">
							Advanced Computing Center for the Arts & Design</A>, OSU</LI>
			</ul>
</div>
<h2>Research Interests</h2>
<table class="centered">
	<TR>
		<TD>
			<IMG SRC="/images/security-camera.jpg" WIDTH="100">
			<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>Video</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>Surveillance</b>
		</TD>
		<td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
		<td>
			Prof. Jim Davis, Dept. of Computer Science and Engineering, 
			is developing <b>advanced video surveillance</b> systems that use 
			computers equipped with video cameras to not only detect the presence 
			of people and track them, but also to identify their activities. The research has broad 
			implications for Homeland Security as well as search and rescue, border 
			patrol, law enforcement and many other types of military applications. 
			The systems combine video cameras with machine learning 
			methods, enabling the computer to perform the kind of visual 
			recognition that seems effortless for humans. Davis' work in 
			investigating computer vision methods was recognized by 
			the National Science Foundation with the prestigious NSF Faculty 
			Early Career Development (CAREER) Program award. 
			Support for this research (past and present) has been provided by the
			National Science Foundation, U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, 
			Intel, and Ohio Board of Regents.
		</td>
	</TR>
	<TR>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <!-- empty table cell -->
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <!-- empty table cell -->
		<td>
			<br>
			Technical Areas: 
			<a href="http://www.cs.cmu.edu/afs/cs/project/cil/ftp/html/vision.html">Computer Vision</a> 
			<a href="http://www.visionscience.com/">Visual Perception</a>, 
			<a href="http://www1.acm.org/sigs/sigchi/">Human-Computer Interaction</a>, 
			<a href="http://accad.osu.edu/research/mocap/">Motion Capture</a>, 
			<a href="http://www.aaai.org/">Artificial Intelligence</a>. 
		</td>
	</TR>
</table>

