@charset "utf-8";

body {
	background: url("/images/guinea-pig-670848_1280.jpg") no-repeat; 
	/* http://pixabay.com/en/guinea-pig-smooth-hair-young-animal-670848/ */

}



#calculator {
  margin: auto;
  font-size: 14px;
}

#calculator #output {
  margin: 5px 70px 5px;
  height: 30px;
  width: 140px;
  padding: 0px 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  text-align: right;
  background: #372f2c;
  border-radius: 12px;
}

#calculator button {
  float: left;
  width: 34px;
  height: 34px;
  color: black;
  font-size: 1.1em;
  background: #ccffff;
  border-radius: 17px;
}

#calculator #memSymbol {
  height: 30px;
  padding: 0px 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  text-align: right;
  background: #372f2c;
  border-radius: 12px;
}


